<div id="modal-form" class="modal">
    <div class="modal-content" id="form-modal">
    </div>
</div>

<div id="modal-loading" class="modal">
    <div class="modal-content" style="width:auto">
        <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs"
            type="module"></script>
        <dotlottie-player src="https://lottie.host/3f8f4254-7774-4f35-b6a9-a4b0603de0c0/8wtzoRtmaG.json"
            background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player>
        <p class="loading-text" id="loading-text">Loading...</p>
    </div>
</div>

<div id="confetti-wrapper" class="modal">
    <div class="modal-content">
        <p>Success!</p>
    </div>
</div>