<style>
    .modal {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: none;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1000;
        justify-content: center;
        align-items: center;
    }

    .modal-content {
        position: relative;
        /* Positioned relative to its normal position to allow fine adjustments */
        padding: 20px;
        /* Padding around the content for spacing */
        background: white;
        /* White background for the content area */
        border-radius: 8px;
        /* Rounded corners for the modal content box */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        /* Shadow for 3D effect and to make the modal stand out */
        width: 50%
    }

    .modal-show {
        display: flex;
    }

    .modal-content-show {
        opacity: 1;
        transform: scale(1);
    }

    #modal-loading p {
        font-size: 16px;
        position: relative;
    }

    #event-form button[type="submit"] {
        font-size: 1.2em;
        /* Adjust the size as you like */
    }

    @keyframes bounce {

        0%,
        100% {
            top: 0;
        }

        50% {
            top: -20px;
        }
    }

    form {
        display: flex;
        flex-direction: column;
    }

    .loading-text {
        color: #333;
        font-size: 16px;
        text-align: center;
        padding-top: 20px;
        opacity: 0;
        transform: translateY(20px);
        display: none;
        transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    }

    @keyframes slideInFromBelow {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
</style>